body {
background: url('../picture/1.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size: cover;
}

.box{
  padding: 150px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  font-size: 80px;
  font-color: blue;
 }

.myButton{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.picture1{
   background-image: url('../picture/1.jpg');
}

.picture2{
   background-image: url('../picture/2.jpg');
}

.picture3{
   background-image: url('../picture/3.jpg');
}

.picture4{
   background-image: url('../picture/4.jpg');
}
